doctype html
html
    head
        meta(charset="utf8")
        title TEST
        link(rel='stylesheet', href='../../css/errorPage.css')
    body
        header
            a(href='/bets/main')
                h1.logo Sanriko`s bets
        .errorText= errorText
