doctype html
html
    head
        meta(charset="utf8")
        title TEST
        link(rel='stylesheet', href='../css/eventPage.css')
    body
        a(href='/main')
            h1.logo Sanriko`s bets
        form.authentication(action="/login" method="post")
            input(type="text" name="username" maxlength="30" placeholder="Имя пользователя" autocomplete="on" required)
            input(type="password" name="password" maxlength="30" placeholder="Пароль" autocomplete="current-password" required)
            input(type="submit" value="Войти")
        form.registration(action="/registration" method="post")
            input(type="text" name="username" placeholder="Имя пользователя" maxlength="30" autocomplete="on" required)
            input(type="text" name="nickname" maxlength="30" placeholder="App nickname" autocomplete="on" required)
            input(type="password" name="password" placeholder="Пароль" maxlength="30" autocomplete="current-password" required)
            input(type="submit" value="Зарегистрироваться")

