doctype html
html
    head
        meta(charset="utf8")
        title TEST
        link(rel='stylesheet', href='../css/eventPage.css')
    body
        - var authorised = auth
        a(href='/main')
            h1.logo Sanriko`s bets
        form.authentication(action="/login" method="post")
            label
                span Email
                input(type="text" name="username" maxlength="30" required)
            label
                span Password
                input(type="text" name="password" maxlength="30" required)
            input(type="submit" value="Добавить")
        if(authorised)
            p= "Hello my friend " + user[0].name
            p luv u so much
        else
            p 'Неверный Email или пароль'
