body {
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.logo {
    width: 200px;
    margin: 0 auto;
}
a {
    color: black;
    text-decoration: none;
}
a:active {
    color: black;
}
.event {
    width: 400px;
    margin: 0 auto;
}
h3 {
    margin: 0;
}
.title {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.ratio {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.deadLine {
    margin: 0px;
}
.condition {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}
.id {
    align-self: flex-end;
}
