html {
    color: #9191b4;
    font-size: 25px;
    font-family: 'Roboto Slab', serif;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #11111F;
}
header {
    width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    text-align: center;
    font-size: 50px;
    font-family: 'Girassol', cursive;
    color: #6565B8;
    margin: 10px;
}
.userInfo {
    display: flex;
    align-items: center;
}
.user {
    display: flex;
    padding-right: 20px;
}
.username {
    padding-right: 10px;
    margin: 0;
}
.login {
    margin: 0;
}
.login:hover {
    color: #6969cd;
}
.logout {
    display: block;
    width: 18px;
    height: 33px;
    background: url("../img/logout.svg") 50% 60% no-repeat;
    background-size: contain;
}
.logout:hover {
    background: url("../img/logout_active.svg") 50% 60% no-repeat;
    background-size: contain;
}
.balance {
    color: #6565B8;
    font-size: 30px;
}
.balance:hover {
    color: #7575c9;
}
.coin {
    padding: 0 5px;
    width: 22px;
}
a {
    color: #9191b4;
    text-decoration: none;
}
.addForm {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inputTitle {
    width: 620px;
}
input {
    height: 40px;
    margin: 15px;
}
.inputs {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
    width: 900px;
}
.until {
    width: 100px;
}
.addResults {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.addForm, .event {
    width: 940px;
    margin: 0 auto;
    padding: 10px;
}
.event {
    display: flex;
    flex-direction: column;
    border: solid #43437A 2px;
    background: #1A1A2F;
    padding-bottom: 30px;
    margin: 10px 0;
}
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.id {
    align-self: flex-end;
    font-size: 16px;
}
h3 {
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 20px;
}
.condition {
    display: flex;
    justify-content: center;
    align-items: center;
}
.result1, .result2 {
    display: flex;
    align-items: center;
    width: 350px;
}
.result1 {
    display: flex;
    justify-content: flex-end;
    text-align: right;
}
.description {
    display: flex;
    flex-direction: column;
}

.chance {
    padding: 0 50px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.name {
    margin-bottom: 10px;
}
.won1 .condition{
    /*background: linear-gradient(135deg, rgb(73, 64, 199) 53%, #11111F 28%);*/
    background: linear-gradient(135deg, #30306B 20%, #1A1A2F 80%);
}
.won2 .condition{
    background: linear-gradient(135deg, #1A1A2F 20%, #30306B 60%);
}
.won1, .won2 {
    opacity: 0.3;
}
.pending {
    opacity: 0.5;
}
.winner {
    background: url("../img/win.png") 50% 50% no-repeat;
    background-size: contain;
}
footer {
    width: 900px;
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
}

@media (min-width: 1000px) {
    html {
        font-size: 16px;
    }
    header {
        font-size: 20px;
    }
    .user {
        align-items: center;
    }
    .logout {
        height: 25px;
    }
    .balance {
        font-size: 20px;
    }
    .coin {
        width: 16px;
    }
    .logo {
        font-size: 30px;
        margin: 5px;
    }
    h3 {
        font-size: 19px;
    }
    .event:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
    }
    .event {
        width: 450px;
        padding: 10px 10px 20px 10px;
    }
    .inputs {
        width: 500px;
        margin: 0;
    }
    .inputTitle {
        width: 177px;
    }
    input {
        height: 15px;
        font-size: 14px;
        margin: 10px;
    }
    input[type=submit] {
        height: 25px;
    }
    .until {
        width: 45px;
    }
    .condition {
        font-size: 16px;
    }
    .chance {
        padding: 0 15px;
    }
    .name {
        margin-bottom: 10px;
    }
    .result1, .result2 {
        width: 200px;
    }
    footer {
        width: 480px;
        font-size: 13px;
    }
}